:root {
  --black: #000;
  --blue: #329afc;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  font-family: Arial;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

.hero {
  background-color: var(--black);
}

.hero h1,
.hero p {
  color: var(--white);
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 32px;
  list-style-type: none;
  padding-top: 12px;
}

nav a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.content {
  text-align: center;
}

.content h1 {
  margin-bottom: 8px;
  padding-top: 56px;
}

h1 + p {
  font-size: 24px;
}

.content a {
  color: var(--blue);
  font-size: 20px;
}

.content .buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 16px;
}

.content img {
  height: 500px;
  margin-top: 40px;
}

.hero + section {
  background: #fbfbfd;
  text-align: center;
}

.hero + section img {
  object-fit: contain;
  max-width: 100%;
  margin-top: 0;
}

section.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

section.grid div {
  background: black;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding-top: 32px;
}

section.grid img {
  max-width: 100%;
}

section.grid a {
  color: var(--blue);
}

section h2 + p {
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 4px;
}